<!DOCTYPE html>
<html>
<head>
	<title> News App </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
 	<link rel="stylesheet" type="text/javascript" href="index.js">
</head>
<body >
  		<center>
	  		<div id="main">
	  		<h2> SWR Weather App </h2>
	  		<h3> select </h3>
	  		<fieldset>
				  
					<select name="country" id="countryname" action="/" method="post">
							<option value="default">Select</option>
							<option value="in">India	</option>
							<option value="cn">China	</option>
							<option value="au">Australia</option>
							<option value="fr">France</option>
					</select>
						
		  		    
	 	   </fieldset>
	  		</div>

  		</center>

  	<script type="text/javascript">
  			function first(){
					var bc= document.getElementById('main');
						bc.style.backgroundColor='#316e86d1';
						bc.style.color='white';
							}

  		</script> 
</body>
</html>