body{
	border : 15px solid grey;
	padding: 20px;
	max-width: 700px;
	width: 100% ;
	margin: 20px auto; 
	font-family: 'Source Sans Pro', sans-serif;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h3{
	color: #2c3e50;
	font-size: 2.0rem;
}
h1{
	
	letter-spacing: 0.1rem;
	color: #2c3e50;
	font-size: 2.0rem;
}
img{
	width: 80% ;
	margin: auto;
	padding: 20px;
	height: 250px;
}
.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
.def{
	border-left: 5px solid grey;
	padding-left: 5px;
	}
.para{
	font-family: 'Titillium Web', sans-serif;
	margin: auto;
	padding: 20px;
	letter-spacing: 0.1rem;
}